* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 7rem;
	width: 100%;
	background-color: #ce2829;
	color: white;
	text-align: center;
	margin-bottom: 3rem;
}

form {
	display: flex;
	flex-direction: column;
	width: 540px;
	margin: 0 auto;
	gap: 1rem;
	margin-bottom: 5rem;
}

.form-row {
	display: flex;
	justify-content: space-between;
}

.form-column {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.form-matarial {
	display: flex;
	flex-wrap: wrap;
	column-gap: 0.5rem;
}

.form-matarial label {
	width: 46%;
}
.form-matarial label input {
	width: 0.8rem;
	height: 0.8rem;
}

.siparis-toplami {
	border: 1px solid gray;
}
.valid {
	color: red;
}
.home-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ce2829;
}
.home-button {
	color: #000000;
	background-color: #fdc913;
	padding: 1rem 3rem;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
}
.order-status-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ce2829;
}

.order-status-container h2 {
	color: white;
}
